SERVER_PORT=dummy
DB_HOST=localhost
DB_PORT=5432
DB_NAME=dummy
DB_PASSWORD=dummy
DB_USER=dummy

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://dummy:dummy@localhost:5432/dummy
GOOSE_MIGRATION_DIR=./internal/infrastructure/driven/db/migrations
GOOSE_TABLE=public.goose_migrations

KAFKA_CONSUMER_GROUP=dummy
KAFKA_HOST=localhost
KAFKA_BROKERS=localhost:9092
KAFKA_GROUP_ID=dummy
KAFKA_AUTO_OFFSET_RESET=dummy

AWS_REGION=dummy